apiVersion: apps/v1
kind: Deployment
metadata:
  name: vehicle-service
  namespace: default
  labels:
    app: vehicle-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vehicle-service
  template:
    metadata:
      labels:
        app: vehicle-service
    spec:
      containers:
        - name: vehicle-service
          image: vehicle-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: ConnectionStrings__DefaultConnection
              value: "Host=postgres;Port=5432;Database=vehicle_db;Username=postgres;Password=postgres"
            - name: Authentication__JwtBearer__Authority
              value: "http://keycloak:8080/realms/fleet-management-app"
